.card-title-extra {
    margin-left: 20px !important;
    margin-top: 15px;
}

.btn-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

textarea:focus, input:focus {
    color: #f8f9fa;
  }
